.acuity-top-menu {
    padding-left: 10px;
    padding-top: 10px;
    background-color: #314867;
}

.acuity-left-menu {
    background-color: #3d5567;
}

.acuity-nav-button {
    background-color: inherit;
    color: var(--lumo-body-text-color);
}

.acuity-nav-button span {
    vertical-align: middle;
}
