.acuity-root {

}

.acuity-nav-root {
}

.acuity-root-content {

}

.acuity-top-menu {
    padding-left: 10px;
    padding-top: 10px;
    background-color: #314867;
}

.acuity-left-menu {
    background-color: #3d5567;
}