$v-app-loading-text: "Loading Acuity";
$v-background-color: #30384b;
$v-focus-color: #3bafda;
$v-focus-style: 0 0 0px 0px $v-focus-color;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-unit-size: 40px;
$v-component-group-spacing: 6px;
$v-font-color: white;

@import "../valo/valo";